.header {
  padding: 20px 20px;
}

.header-wrapper {
  width: calc(100% - 20px);
  margin: auto;
  display: flex;
}

.home {
  font-size: 20px;
  color: #546ea0;
}

.home:hover {
  cursor: pointer;
}