@import url('https://fonts.googleapis.com/css?family=Montserrat');

.question-number{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    font: 'Montserrat';
    padding: 0px 80px;
}

.question-content{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    font: 'Montserrat';
    position: relative;
    display: block;
    padding: 0px 80px;
}


button{
    margin: auto;
    padding: 0;
    display: block;
}
.custom-question{
    width: 750px;
    height: 70px;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-answer {
    background: #556EA0;
    background: linear-gradient(0deg, #84A0D3 0%, #556EA0 100%);
    width: 750px;
    height: 70px;
    line-height: 42px;
    padding: 0;
    border: none;

  }
.btn-answer-big{
    background: #556EA0;
    background: linear-gradient(0deg, #84A0D3 0%, #556EA0 100%);
    width: 750px;
    height: 120px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-answer-big span,
.btn-answer span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-answer-big:before,
.btn-answer-big:after,
.btn-answer:before,
.btn-answer:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #556EA0;
    transition: all 0.3s ease;
}
.btn-answer-big:before,
.btn-answer:before {
    height: 0%;
    width: 2px;
}
.btn-answer-big:after,
.btn-answer:after {
    width: 0%;
    height: 2px;
}
.btn-answer-big:hover:before,
.btn-answer:hover{
    background: transparent;
    box-shadow: none;
}
.btn-answer-big:hover:after,
.btn-answer:hover:before {
    height: 100%;
}
.btn-answer-big:hover:after,
.btn-answer:hover:after {
    width: 100%;
}
.btn-answer-big span:hover,
.btn-answer span:hover{
     color: #556EA0;
}
.btn-answer-big span:before,
.btn-answer-big span:after,
.btn-answer span:before,
.btn-answer span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #556EA0;
    transition: all 0.3s ease;
}
.btn-answer-big span:before,
.btn-answer span:before {
    width: 2px;
    height: 0%;
}
.btn-answer-big span:after,
.btn-answer span:after {
    width: 0%;
    height: 2px;
}
.btn-answer-big span:hover:before,
.btn-answer span:hover:before {
    height: 100%;
}
.btn-answer-big span:hover:after,
.btn-answer span:hover:after {
    width: 100%;
}
